html{
	min-width: 100%;
	min-height: 100%;
}
body{
	margin: 0;
	padding: 0;
	background-image: url(../imagens/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.panel{
	width: 40%;
	height: 40%;
	top: 30%;
	left: 30%;
	position: absolute;
	border-style: solid;
	border-radius: 15px;
	background-color: black;
	opacity: 0.8;
	padding: 0;
	box-shadow: 3px 3px 3px #000000;
}
.panel_left{
	width: 15%;
	height: 80%;
	top: 10%;
	left: 3%;
	position: absolute;
	border-style: solid;
	border-radius: 15px;
	background-color: black;
	opacity: 0.8;
	padding: 0;
	box-shadow: 3px 3px 3px #000000;
}
#span_cabecalho{
	font-family: arial;
	margin-top: 0;
	font-size: 40px;
	text-align: center;
	color: white;
}
.seletor{
	color: white;
}
#options{
	left: 5%;
	position: absolute;
}
table{
	top: 1%;
	left: 31%;
	position: absolute;
}
td{
	width: 200px;
}
tr{
	height: 130px;
}
td img{
	border-style: solid;
	width: 120px;
	height: 144px;
	box-shadow: 3px 3px 3px #000000;
}
.hidden{
	display: none;
}
.toasty{
	bottom: 0%;
	right: 0%;
	position: absolute;
}
.t2x4{
	top: 25.5%;
	left: 31%;
	position: absolute;
}
.t3x4{
	top: 13.25%;
	left: 31%;
	position: absolute;
}
.t4x4{
	top: 1%;
	left: 31%;
	position: absolute;
}
